<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width"/>
         <script src="Js/jquery.min.js" ></script>
        <script src="Js/index.js" ></script>
    </head>
    <body>
        <div>TODO write content</div>

        <h1>Lista De vehiculos</h1>

        

        <ui:repeat value="#{index.rol}" var="value">           

            <h:outputLabel value="Categorias Disponibles" rendered="#{value.getIdRol().getDescripcion() == 'vendedor'}"></h:outputLabel>    
            <br/>
            <ui:repeat value="#{vehiculo.listarCategoria()}" var="valu2">

                <h:outputLabel value="#{valu2.descripcion}" rendered="#{value.getIdRol().getDescripcion() == 'vendedor'}"></h:outputLabel>
                <br/>

            </ui:repeat>




        </ui:repeat>





        <h:form>
            <ui:repeat value="#{index.rol}" var="value">
                <h:commandLink value = "Agregar Vehiculo" action = "newVehiculo.xhtml" rendered="#{value.getIdRol().getDescripcion() == 'vendedor'}" /> 
                <br/>
            </ui:repeat>

<h:commandLink value = "Volver" action = "panel.xhtml"  /> 
        </h:form> 
        <label>Seleccionar Filtro</label>
        <select id="fil">
            <option value="-1">Select..</option>
            <option value="1">Precio</option>
            <option value="2">Categoria</option>            
        </select>
        
        <div id="filtroPrecio" style="display:none;">
        <h:form>                                
            <label>Filtrar por precio</label>            
                 <label>Desde:</label>
                 <h:inputText  value="#{vehiculo.precioDesde}" class="form-control"  p:placeholder=""></h:inputText>
                                        
                     <label>Hasta:</label>
                     <h:inputText  value="#{vehiculo.precioHasta}" class="form-control"  p:placeholder=""></h:inputText>

                <h:commandButton class="btn btn-block btn-orange inicio" value="Filtrar" action="#{vehiculo.listarPrecio()}"></h:commandButton>
        </h:form>
      </div>
        
        <div id="filtroCategoria" style="display:none;">
        <h:form>                                
            <label>Filtrar por Categoria:</label>            
            <h:selectOneMenu class="form-control" value="#{vehiculo.idFiltro}" >
                <f:selectItem itemLabel="Todos" itemValue="0"/>  
                <f:selectItems itemValue="#{tip.idCategoria}" itemLabel="#{tip.descripcion}" value="#{vehiculo.listarCategoria()}" var="tip" ></f:selectItems>
            </h:selectOneMenu>

                <h:commandButton class="btn btn-block btn-orange inicio" value="Filtrar" action="#{vehiculo.listar()}"></h:commandButton>
        </h:form>
          </div>

        <h:dataTable value="#{vehiculo.listVehiculo}" var="v"
                     styleClass="order-table"
                     headerClass="order-table-header"
                     rowClasses="order-table-odd-row,order-table-even-row"
                     >

            <h:column>
                <!-- column header -->
                <f:facet name="header">id Vehiculo</f:facet>
                <!-- row record -->
                #{v.idVehiculo}
            </h:column>

            <h:column>
                <!-- column header -->
                <f:facet name="header">Color</f:facet>
                <!-- row record -->
                #{v.color}
            </h:column>

            <h:column>
                <!-- column header -->
                <f:facet name="header">Precio</f:facet>
                <!-- row record -->
                #{v.precio}
            </h:column>

            <h:column>
                <!-- column header -->
                <f:facet name="header">Estado</f:facet>
                <!-- row record -->
                #{v.idEstado.descripcion}
            </h:column>
            <h:column>
                <!-- column header -->
                <f:facet name="header">Categoria</f:facet>
                <!-- row record -->
                #{v.idCategoria.descripcion}
                
            </h:column>
            <h:column>
                <!-- column header -->
                <f:facet name="header">vendedor</f:facet>
                <!-- row record -->
                #{v.idVendedor.id}
                
            </h:column>
                <h:column>
                <!-- column header -->
                <h:form>                                
                    <h:commandButton value="Ver Vendedor" action="#{vehiculo.VerDetalle(v.idVendedor)}">                  
                </h:commandButton>
                </h:form>
                <!-- row record -->                
            </h:column>    


        </h:dataTable>
        
        <p><b>Nombre: </b>#{vehiculo.detalle.nombre}</p>
        <p><b>Apellido: </b>#{vehiculo.detalle.apellido}</p>
        <p><b>Telefono: </b>#{vehiculo.detalle.telefono}</p>
        

        <style>
            table {
                width: 60%;
                border-collapse: collapse; /* so we can control cellspacing in a practical way */
            }

            table th,
            table td {
                padding: 5px;
                text-align: left;
                font-family: Arial, Verdana, sans-serif;
            }
        </style>
    </body>
</html>
