<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width"/>
       
    </head>
    <body>
        <center>
        <h1>Nuevo Vehiculo</h1>
         <h:form id="crear_voluntario">
                                
                                                <label>Categoria</label>
                                                <h:selectOneMenu class="form-control" value="#{vehiculo.idCategoria}" >
                                                    <f:selectItems itemValue="#{tip.idCategoria}" itemLabel="#{tip.descripcion}" value="#{vehiculo.listarCategoria()}" var="tip" ></f:selectItems>
                                                </h:selectOneMenu>
                                                
                                                <br />
                                                <br />
                                                
                                                   <label>Estado</label>
                                                   <h:selectOneMenu class="form-control" value="#{vehiculo.idEstado}" >
                                                    <f:selectItems itemValue="#{tip.idEstado}" itemLabel="#{tip.descripcion}" value="#{vehiculo.listarEstado()}" var="tip" ></f:selectItems>
                                                </h:selectOneMenu>
                                                     <br />
                                                     <br />
                                                     
                                                      <label>Vendedor</label>
                                                      <h:selectOneMenu class="form-control" value="#{vehiculo.idVendedor}" >
                                                          <f:selectItems itemValue="#{tip.id}" itemLabel="#{tip.nombre} - #{tip.apellido}" value="#{vehiculo.listarVendedor()}" var="tip" ></f:selectItems>
                                                </h:selectOneMenu>
                                                     <br />
                                                     <br />
                                           
                                                <label>Precio:</label>
                                                <h:inputText  value="#{vehiculo.newVehiculo.precio}" class="form-control"  p:placeholder=""></h:inputText>
                                                  <br />
                                                  <br />
                                                 <label>Color</label>
                                                 <h:inputText  value="#{vehiculo.newVehiculo.color}" class="form-control"  p:placeholder=""></h:inputText>
                                              <br />
                                              <br />
                                                 <label>Modelo</label>
                                                 <h:inputText   value="#{vehiculo.newVehiculo.modelo}" class="form-control"  p:placeholder=""></h:inputText>
                                                  <br />
                                                  <br />
                                                  
                                                 <h:commandButton class="btn btn-block btn-orange inicio" value="Crear Vehiculo" action="#{vehiculo.AgregarVehiculo()}"></h:commandButton>
                                       
                                    
                            </h:form>
        </center>
    </body>
</html>
